@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
    color:blue;
    font-family: 'roboto';
}
header {
    background-color:#105232;
    color:white;
    text-align: center;
    font-family: 'merriweather';
    font-weight: 700;
    padding: 35px;
    font-size: 40px;
}