@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
    color:blue;
    font-family: 'roboto';
    text-align: center;
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
}

h2 {
    text-align: center;
}

header {
    background-color:#105232;
    color:white;
    text-align: center;
    font-family: 'merriweather';
    font-weight: 700;
    padding: 35px;
    font-size: 40px;
}

.best-books {
    display: grid; /* Grid display */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /*AI*/
    gap: 20px;
    padding: 20px;
}

.all-books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /*AI*/
    gap: 20px;
    padding: 20px;
}

.book-card {
    border: 1px solid #ccc; /* Outline each card */
    border-radius: 8px; /* Round off corners */
    text-align: center;
    padding: 10px;
}

.book-cover {
    background-color: #f0f0f0;
    height: 200px;
    display: flex; /* Makes the container a flexbox */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    font-weight: bold;
}

.all-authors{
    display: grid; /* A grid that holds all author cards, default as one card per row */
}

.author-card{
    display: grid; /* Make each card a grid itself */
    grid-template-columns: 1fr 1fr; /* Spilt into two even columns */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}


.detail-card{
    display: grid; 
    grid-template-columns: 1fr 1fr; /* Spilt into two even columns */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

nav ul{
    display: flex; /* Make the list a flexbox so links can sit beside each other */
    justify-content: center; /* Center the links horizontally */
    gap:20px;
}
