{% extends "layout.html" %}
{% block content %}
<h1>{{ book[1] }}</h1>
    <div class="detail-card"> {# Book detail card #}
        <div class="detail-left"> {# Left side #}
            <div class="book-photo">
                <img src="{{ url_for('static', filename='images/covers/' + book[2]) }}" alt="{{ book[1] }} cover"> {# Book cover image #}
            </div>
            <h2>{{ book[1] }}</h2>
            <p><a href="{{ url_for('author_by_id', id=book[7]) }}">Author: {{ book[6] }}</a></p>
            <p>Genres:
                {% for genre in book[8].split(', ') %} {# Split the genres string into a list #}
                    {% set name, id = genre.split(':') %} {# Split each genre into name and id, seperated by ":" #}
                    <a href="{{ url_for('genre_by_id', id=id) }}">{{ name }}</a>{% if not loop.last %}, {% endif %} {# Create a link to each genre, add a comma after each except the last #}
                {% endfor %}
            </p>
            <p>Year Published: {{ book[3] }}</p> 
        </div>
        <div class="detail-right"> {# Right side #}
            <h2>{{ book[1] }}</h2>
            <p>Rating: {{ book[4] }}</p>
            <p>Description: {{ book[5] }}</p>
        </div>
    </div>
{% endblock %}